body::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
body.popup-show::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	&__title {
		@include adaptiveValue('font-size', 32, 21);

		font-weight: 800;
		line-height: math.div(39, 32);
		margin: 0px 0px rem(20) 0px;
	}
	&__subtitle {
		@include adaptiveValue('font-size', 21, 16);

		font-weight: 600;
		line-height: math.div(25, 21);
		margin: 0px 0px rem(25) 0px;
	}

	&__form {
		display: grid;
		gap: 20px;
		margin: 0px 0px rem(25) 0px;
	}

	&__text {
		@include adaptiveValue('font-size', 16, 12);
		line-height: math.div(22, 16);
	}

	&__close {
		position: absolute;
		@include adaptiveValue('top', 50, 23);
		@include adaptiveValue('right', 50, 10);

		img {
			@include adaptiveValue('width', 45, 23);
			@include adaptiveValue('height', 45, 23);
		}
	}
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	text-align: center;
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #1a1a1aa8;
	padding: 25px 10px;
	width: 100%;
	@include adaptiveValue('max-width', 452, 300);
	border-radius: 20px;
	border: 1px solid $redColor;
	.lock & {
		visibility: visible;
	}
}
